<div id="archive-ui"
     hx-get="{% url 'core:contact-archive' %}"
     hx-target="this"
     hx-swap="outerHTML"
     hx-trigger="contactsChanged from:body"
     hx-on::load="this.querySelector('#archive-link')?.click()">
   {% if archiver_status == 'WAITING' %}
   <button hx-post="{% url 'core:contact-archive' %}">Download Contact Archive</button>
   {% elif archiver_status == 'RUNNING' %}
   <div hx-get="{% url 'core:contact-archive' %}"
        hx-trigger="load delay:500ms">
      Creating archive...
      <div class="progress">
         <div id="archive-progress"
              class="progress-bar"
              role="progressbar"
              aria-valuenow="{{ archiver_progress }}"
              style="width: {{ archiver_progress }}%"></div>
      </div>
   </div>
   {% elif archiver_status == 'COMPLETE' %}
   <a id="archive-link"
      hx-boost="false"
      href="{% url 'core:contact-archive-file' %}">Archive Ready! Click here if auto-dowload does not start.
      &downarrow;</a>
   {% endif %}
   {% if archiver_status != 'WAITING' %}
   <button hx-post="{% url 'core:contact-archive-reset' %}"
           style="display: block;">Reset archive</button>
   {% endif %}
</div>
